.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:40px;

    font-size:12px;

    letter-spacing:4px;

    text-transform:uppercase;

    color:var(--navy);

}