.border-top,
.border-bottom,
.border-left,
.border-right{
    position:absolute;
    background:#737A8B;
    opacity:.35;
}

.border-top{
    top:40px;
    left:40px;
    right:40px;
    height:1px;
}

.border-bottom{
    bottom:40px;
    left:40px;
    right:40px;
    height:1px;
}

.border-left{
    top:40px;
    bottom:40px;
    left:40px;
    width:1px;
}

.border-right{
    top:40px;
    bottom:40px;
    right:40px;
    width:1px;
}

.flower{

    position:absolute;
    opacity:.14;
    pointer-events:none;

}

.flower-top{

    top:40px;
    right:30px;
    width:180px;

}

.flower-bottom{

    left:25px;
    bottom:20px;
    width:180px;

}

.monogram{
    display:flex;
    justify-content:center;
    align-items:center;

    margin:30px 0;
}

.monogram img{

    width:170px;
    height:auto;

    display:block;
}