h1,h2,h3{

    font-family:"Cormorant Garamond",serif;

    color:var(--navy);

}

.script{

    font-family:"Great Vibes",cursive;

}
.invitation-footer{

position:absolute;

bottom:25px;

left:50%;

transform:translateX(-50%);

display:flex;

align-items:center;

gap:18px;

letter-spacing:6px;

color:#707A90;

font-size:14px;

}

.line{

width:110px;

height:1px;

background:#707A90;

opacity:.4;

}